@import "~taro-ui/dist/style/components/tag.scss";
.applist{
    width: 100%;
    overflow: hidden;
    .applist__header {
        width: 100%;
        height: 75px;
        line-height: 70px;
        text-align: center;
        color: #444;
        font-size: 34px;
        box-sizing: border-box;
        .applist__header__img{
            width: 35px;
            height: 35px;
            margin-left: 20px;
            margin-top: 20px;
            float: left;
        }
        
    }
    .applist__section{
        .applist__section__swiepr{
            width: 100%;
            overflow: hidden;
            padding: 20px 20px;
            box-sizing: border-box;
        }
        .applist__section__title {
            position: relative;
            box-sizing: border-box;
            font-size: 28px;
            height: 40px;
            line-height: 40px;
            color: #444;
            display: block;
            margin: 20px 0;
            margin-left: 30px;
            padding-left: 20px;
    
            &::before {
                position: absolute;
                top: 0px;
                left: 0px;
                content: '';
                width: 4px;
                background: #3385ff;
                height: 40px;
            }
        }
        .applist__section__list{
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            .applist__section__list__item{
                position: relative;
                height: 130px;
                width: 100%;
                border-bottom: 2px solid #eee;
                .item__img{
                    position: absolute;
                    width: 90px;
                    height: 90px;
                    left: 20px;
                    border-radius: 10px;
                    top: 20px;
                }
                .item__name{
                    position: absolute;
                    display: block;
                    min-width:200px;
                    left: 130px;
                    font-weight: bold;
                    top: 15px;
                    font-size: 26px;
                    .item__name__label{
                        margin-left: 20px;
                        background: #3385ff;
                        color:#fff;
                        font-weight: 300;
                    }
                }
                .item__span{
                    position: absolute;
                    display: block;
                    min-width:200px;
                    left: 130px;
                    bottom: 15px;
                    color: #b3afaf;
                    font-size: 24px;
                }
                .item__download{
                    position: absolute;
                    font-size: 24px;
                    width: 120px;
                    height: 40px;
                    right: 20px;
                    color: #3385ff;
                    top: 45px;
                    background: #f6f6f6;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 30px;
                }
            }
        }
    }
    
}