@import '~taro-ui/dist/style/components/noticebar.scss';
@import '~taro-ui/dist/style/components/grid.scss';
@import '~taro-ui/dist/style/components/textarea.scss';
@import '~taro-ui/dist/style/components/button.scss';
@import '~taro-ui/dist/style/components/divider.scss';
@import '~taro-ui/dist/style/components/icon.scss';
@import "~taro-ui/dist/style/components/list.scss";
* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 110px;
    background: #6190E8;

    .header__logo {
        width: 80px;
        height: 80px;
        float: left;
        margin: 15px 0 0 15px;
    }

    .header__customer {
        width: 220px;
        height: 100%;
        padding-right: 30px;
        float: right;

        .header__customer__span {
            font-size: 30px;
            line-height: 110px;
            margin-right: 20px;
            color: #fff;
            float: left;
        }

        .header__customer__weChart {
            width: 70px;
            height: 70px;
            float: left;
            margin-top: 20px;
        }

        .header__customer__qq {
            width: 55px;
            height: 55px;
            float: right;
            margin-top: 27.5px;
        }
    }
}

.section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;

    .section__button {
        float: right;
        margin: 30px 0;
    }

    .section__title {
        position: relative;
        font-size: 28px;
        height: 40px;
        line-height: 40px;
        color: #444;
        padding-left: 26px;
        display: block;
        margin: 26px 0;

        &::before {
            position: absolute;
            top: 0px;
            left: 0px;
            content: '';
            width: 4px;
            background: #3385ff;
            height: 40px;
        }
    }

    .section__bannner {
        width: 100%;
        height: 300px;
        overflow: hidden;

        .section__bannner__item {
            width: 100%;
            height: 100%;

            .section__bannner__item__img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .section__notice {
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        .section__noice__swiper {
            width: 100%;
            height: 60px;
            color: #de8c17;
            font-size: 26px;
            line-height: 60px;
            text-align: left;
            padding-left: 70px;
            box-sizing: border-box;
            background: #fcf6ed;

            .section__noice__item {
                width: 100%;
                height: 60px;
            }
        }
        .section__noice__content{
            width: 100%;
            height: 60px;
            position: relative;
            .section__noice__img{
                position: absolute;
                top: 10px;
                left: 10px;
                width: 40px;
                height: 40px;
                float: left;
                z-index: 100;
            }
        }
    }
    .section__textarea{
        width: 100%;
        height: 400px;
        overflow: hidden;
        border-radius: 20px;
        background: #fcf6ed;
        .section__textarea__item{
            font-size: 25px;
            height: 60px;
            line-height: 60px;
            padding-left: 20px;
        }
    }
}

.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .menu__item {
        width: 348px;
        height: 200px;
        border-radius: 10px;
        margin-bottom: 15px;

        .menu__item__img {
            border-radius: 10px;
            width: 348px;
            height: 200px;
        }
    }
}